.ng-camera {
  border-bottom: 1px solid #CCC;
  text-align: center;
}
.ng-camera-stack {
  width: 640px;
  height: 480px;
  margin: 0 auto;
  position: relative;
  background: #EFEFEF;
  padding: 0;
}
.ng-camera-overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
}
.ng-camera-overlay-controls {
  position: absolute;
  top: 0;
  right: 10px;
  z-index: 10;
}
#ng-camera-feed {
  min-width: 640px;
  min-height: 480px;
}
.ng-camera-controls {
  text-align: center;
  clear: both;
  display: block;
  padding: 15px 0px;
}
.ng-photo-output {
  clear: both;
  display: block;
  padding: 30px;
  text-align: center;
}
